@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;1,600&display=swap');

html,
body {
  padding:0;
  margin: 0;
  font-family: 'Playfair Display', serif;
}

#menu-toggle:checked + #menu {
  display: block;
}
